{{>header}}
<div class="main-content">
  <h4>Use this app to get info on weather!</h4>
  <form>
    <input type="text" placeholder='Location'>
    <button type='submit'>Search</button>
  </form>
  <div class="content">
    <p class="message" id='message-1'></p>
    <p class="message" id='message-2'></p>
  </div>
</div>
{{>footer}}